@{
    Layout = "_Layout";
    ViewData["Title"] = "Redirecting...";
}

<div class="text-center py-5">
    <p class="text-secondary">If you are not redirected, please <a asp-action="Login" asp-controller="Account">click here to login</a>.</p>
</div>
